body{
    background-color: #2c3e50 ;
}

h1{
    color: aliceblue;
}

h3{
    color: #f1c40f  ;
}

h2{
    background-color: #f1c40f ;
    border: 2px solid;
}

li{
    color: whitesmoke;
}

#aula{
    color: #e74c3c;
}